
a:link {color:#FF9696;text-decoration:none;}
a:visited {color:#FF9696;text-decoration:none;}
a:hover {color:#FF9696;text-decoration:underline;}
a:active {color:#FF9696;text-decoration:underline;}

nav#navbar1 a:link {color:#969696;text-decoration:none;}
nav#navbar1 a:visited {color:#969696;text-decoration:none;}
nav#navbar1 a:hover {color:#FFFFFF;text-decoration:underline;}
nav#navbar1 a:active {color:#FFFFFF;text-decoration:underline;}

nav#navbar1{
  text-align: center;
  padding: 0px;
  margin: 15px auto;
  border: 2px solid #555;
  border-radius: 10px;
  background: #111;
  font-size: 1.2em;
}

table{
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #555;
  border-radius: 10px;
  background: #222;
}

div{
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #555;
  border-radius: 10px;
  background: #222;
  padding: 10px;
}

body{
  width: 960px;
  margin: 15px auto;
  font-family: System, "System", sans-serrif;
  background: #000000;
  color: white;
}
